# Homework 4
### Joshua Nasiatka (10.12.16)
----

#### ( 1 ) The mean and standard deviation of a set of numbers is an important way to condense a large set to two numbers. Recall that the mean of ${x_1,x_2,...,x_n}$ is  
<h3><center> $\bar{x}=\frac{x_1+x_2+...+x_n}{n}$ </center></h3>

#### and the standard deviation is
<h3><center> $s=\sqrt{\frac{(x_1-\bar{x})^2+(x_2-\bar{x})^2+...+(x_n-\bar{x})^2}{n-1}}$ </center></h3>

**( a ) Write a function that takes a 1-D array of numbers and returns the mean. Call this function `the_mean` to distinguish from the built-in one. You may use the built-in `sum` function, but not the built-in `mean` function. You may also use a `for` loop.**

In [1]:
include("stats.jl")
using StatsPackage

In [2]:
the_mean(3,2)

2.5

In [3]:
x=[1,2,3,4,5]

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [4]:
the_mean(x)

3.0

In [5]:
the_mean([2,3,7,6,8,9,2,5])

5.25

In [6]:
r=rand(1:25,10)

10-element Array{Int64,1}:
 21
  3
 11
 10
  7
 13
 18
  7
  6
 21

In [7]:
the_mean(r)

11.7

**( b ) Write a function that takes a 1-D array of numbers and returns the standard deviation. Call this function `the_std` to distinguish from the built-in one. You should not use the built-in `std` function, but other functions are fine. Hint: you can use the `reduce` or `sum` function with a function to write this compactly, but may use a `for` loop as well.**

In [8]:
arr1=rand(1:100,150)

150-element Array{Int64,1}:
  1
  6
 88
 62
  8
 69
 64
  4
 40
 30
 82
 35
 82
  ⋮
 66
 56
 36
 11
 71
  5
 42
 60
 48
 86
 16
 21

**( c ) You should test your functions on some small arrays/vectors and use the built-in functions `mean` and `std` to help debug**

In [9]:
the_std(arr1)

30.075134102363826

In [10]:
the_std([32,54,6,5,88,76,13,113,24])

39.15673632978111

In [11]:
std(arr1)

30.075134102363826

In [12]:
std([32,54,6,5,88,76,13,113,24])

39.15673632978111

In [13]:
the_mean(arr1)

51.42

In [14]:
mean(arr1)

51.42

In [15]:
the_mean([32,54,6,5,88,76,13,113,24])

45.666666666666664

In [16]:
mean([32,54,6,5,88,76,13,113,24])

45.666666666666664

**( d ) Load the `RDatasets` package. You may have to add the package first and then load it with the `using` keyword. Note: the first time you add the package, it may take some time to load, since it is pulling in a lot of data. There are a lot of interesting datasets here, but today we will only look at the waiting time between eruptions from Old Faithful in Yellowstone National Park. Load this data by typing:**

```
data = dataset("datasets", "faithful")
```

In [17]:
using RDatasets

In [18]:
data = dataset("datasets", "faithful")

272×2 DataFrames.DataFrame
│ Row │ Eruptions │ Waiting │
├─────┼───────────┼─────────┤
│ 1   │ 3.6       │ 79      │
│ 2   │ 1.8       │ 54      │
│ 3   │ 3.333     │ 74      │
│ 4   │ 2.283     │ 62      │
│ 5   │ 4.533     │ 85      │
│ 6   │ 2.883     │ 55      │
│ 7   │ 4.7       │ 88      │
│ 8   │ 3.6       │ 85      │
│ 9   │ 1.95      │ 51      │
│ 10  │ 4.35      │ 85      │
│ 11  │ 1.833     │ 54      │
⋮
│ 261 │ 4.767     │ 78      │
│ 262 │ 4.533     │ 84      │
│ 263 │ 1.85      │ 58      │
│ 264 │ 4.25      │ 83      │
│ 265 │ 1.983     │ 43      │
│ 266 │ 2.25      │ 60      │
│ 267 │ 4.75      │ 75      │
│ 268 │ 4.117     │ 81      │
│ 269 │ 2.15      │ 46      │
│ 270 │ 4.417     │ 90      │
│ 271 │ 1.817     │ 46      │
│ 272 │ 4.467     │ 74      │

**( e ) Extract only the 2nd column of this and store it in a variable called `eruptions`. In order to use it correctly, you will need to convert the column to a `Vector` by wrapping `Vector( )` around the result.**

In [19]:
eruptions = Vector(data[1])

272-element Array{Float64,1}:
 3.6
 1.8
 3.333
 2.283
 4.533
 2.883
 4.7
 3.6
 1.95
 4.35
 1.833
 3.917
 4.2
 ⋮
 4.767
 4.533
 1.85
 4.25
 1.983
 2.25
 4.75
 4.117
 2.15
 4.417
 1.817
 4.467

**( f ) Find both the mean and standard deviation of waiting time using your functions above.**

In [20]:
the_mean(eruptions)

3.487783088235293

In [21]:
the_std(eruptions)

1.141371251105208

**( 2 ) Adapt your quadratic solver from hw03 to make it more robust. In particular, check to see if the solution is real. If not, you should throw a `ErrorException` with an appropriate message. Give some samples which shows that the code is working.**

In [22]:
function qsolve2(a::Number, b::Number, c::Number)
    ((b^2-4a*c) >= 0) || throw(ErrorException("There are no real solutions!"))
    d=sqrt(b^2-4a*c)
    (-2c/(b+d),-2c/(b-d))
end

qsolve2 (generic function with 1 method)

In [23]:
a2 = 100
b2 = -400
c2 = 399

# 64-bit Calculation
x1c,x2c=qsolve2(a2,b2,c2)

(2.1,1.9)

In [24]:
qsolve2(2,-4,12)

LoadError: LoadError: There are no real solutions!
while loading In[24], in expression starting on line 1

**( 3 ) Add to the stats module creating multiple definitions of `the_mean` with the following:**  
- 2 numbers
- 3 numbers
- any number of numbers
- A `FloatRange`

Some examples...

In [25]:
the_mean(3.5,1.75)

2.625

In [26]:
the_mean(3.45,8.25,3.87)

5.19

In [27]:
the_mean(3.57,8.76,9.14,3.14,2.56)

5.433999999999999

In [28]:
the_mean(3:12)

7.5

In [29]:
the_mean(2.0:0.25:3.25)

2.625

In [30]:
the_mean(2,2.25,2.5,2.75,3,3.25)

2.625

In [31]:
the_mean(2:0.15:3.5)

2.75